.game{
  position: relative;

}
.board {
  margin-left: 580px;
  display: grid;
  grid-template-columns: repeat(4,var(--size));
  grid-template-rows: repeat(4,var(--size));
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /*border: 10px solid #55ab9f;*/
}